<div class="page" id="page1">
  <button type="button" id="show-next">Select</button>
  <br>
  <button type="button" id="show-next">Input</button>
</div>

<div class="page" id="page2">
  <select>
    <option>One</option>
    <option>Two</option>
    <option>Three</option>
  </select>
  <br>
  <input type="text">
</div>

<div class="stupid-overlay"></div>
